* {
  box-sizing: border-box;
}

/* Fonts start */
@font-face {
  font-family: 'Rubik';
  src: url('../webfonts/Rubik-Medium.woff2') format('woff2'),
    url('../webfonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../webfonts/Rubik-Regular.woff2') format('woff2'),
    url('../webfonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Fonts end */

body {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 500;
}

/***************************  Header styles start  ****************************/
.site-header {
  background-color: #fff;
}

.container {
  width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.site-header__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header-start {
  display: flex;
  align-items: center;
}

.site-header-logo {
  width: 320px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 2px 6px #cacaca40;
  border-radius: 5px;
  margin-right: 17px;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.site-header__logo-img {
  width: 306px;
  height: 33px;
}

.site-header__currency-list {
  display: flex;
  justify-content: space-between;
  width: 258px;
  list-style: none;
  padding-left: 0;
}

.site-header__currency-item {
  font-weight: 400;
  color: #7a7a7a;
}

.site-header__currency-symbol {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
}

.site-header-end {
  display: flex;
  align-items: center;
}

.site-header__search {
  width: 38.1px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 21px;
  padding: 11px;
}

.site-header__languages {
  width: 64.76px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 23.24px;
  /* padding-top: 10px;
    padding-right: 7.6px;
    padding-bottom: 10px;
    padding-left: 11px; */
  padding: 10px 7.6px 10px 11px;
}

.site-header__languages-icon {
  width: 20px;
  height: 19px;
  border-radius: 50%;
}

.site-header__languages-text {
  font-size: 16px;
  line-height: 19px;
  color: #535353;
}

.site-header__follow {
  display: flex;
  align-items: center;
  width: 146px;
  height: 40px;
  background-color: #1e96c8;
  border-radius: 5px;
  padding-right: 12px;
  padding-left: 10.31px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}

.site-header__follow-icon {
  width: 19px;
  height: 19px;
  margin-right: 7.31px;
}

.site-nav {
  background-color: #fff;
}

.site-nav__wrapper {
  background-color: #fff;
  box-shadow: 0px 2px 5px #9f9f9f30;
  border-radius: 5px;
  margin-bottom: 18px;
  padding: 21px 25px 22px 24px;
}

.site-nav__list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.site-nav__link {
  font-size: 19px;
  line-height: 23px;
  color: #515151;
  text-decoration: none;
}

.site-nav__link:active {
  color: #295091;
}

/***************************  Header styles end  ****************************/

/***************************  Aside styles start  ****************************/
.site-aside {
  margin-bottom: 45px;
}

.site-aside__img {
  width: 1200px;
  height: 99px;
}
/***************************  Aside styles end  ****************************/

/***************************  Main styles start  ****************************/
.site-main {
  background-color: #fff;
}

/* Covid section start */
.covid-section__wrapper {
  background-color: #f6f6f9;
  border-radius: 5px;
  margin-bottom: 18px;
  padding-top: 42px;
  padding-right: 35px;
  padding-bottom: 41px;
  padding-left: 35px;
}

.covid-section__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.covid-section__item {
  display: flex;
  align-items: center;
}

.covid-section__item:first-child {
  width: 373px;
  margin-right: 30px;
}

.covid-section__item:nth-child(2) {
  width: 260px;
  margin-right: 30px;
}

.covid-section__item:nth-child(3) {
  width: 229px;
  margin-right: 27px;
}

.covid-section__item:first-child::after {
  display: block;
  width: 2px;
  height: 74px;
  background-color: #eb5569;
  content: '';
}

.covid-section__item:nth-child(2)::after {
  display: block;
  width: 2px;
  height: 49px;
  background-color: #f4ccd1;
  margin-left: 42px;
  content: '';
}

.covid-section__item:nth-child(3)::after {
  display: block;
  width: 2px;
  height: 49px;
  background-color: #f4ccd1;
  margin-left: 39px;
  content: '';
}

.covid-section__img {
  margin-right: 25px;
}

.covid-section__title {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.covid-section__info {
  display: flex;
  flex-direction: column;
}
/* Covid section end */

/* News section start */
.news-section__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.news-section__item {
  width: 386px;
  margin-bottom: 18px;
}

.news-section__text {
  display: block;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  text-decoration: none;
  margin-bottom: 11px;
}

.news-section-title-name {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.heshteg-list {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 0;
  margin-top: 20px;
}

.heshteg-item:not(:first-child) {
  margin-left: 25px;
}

.heshteg-link {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #28508e;
}

.hashtag-line {
  width: 794px;
  height: 2px;
  background: #EBEBEB;
}

.news-section__time {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6b6d97;
}

.Natification {
  width: 1200px;
  background: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
  margin-bottom: 38px;
}
.Natification-box {
  display: flex;
  align-items: center;
  padding: 25px 20px 24px 34px;
  justify-content: space-between;
}
.Natification-title {
  display: flex;
  align-items: center;
}
.natification-img {
  margin-right: 18px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.natification-btn {
  padding: 8px 8px 8px 15px;
  background: linear-gradient(
    90deg,
    #fe5c28 0%,
    rgba(255, 139, 54, 0.9) 88.43%
  );
  border-radius: 5px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
/* News section end */

/* ****************** latestnews-section start ***************** */

.latestnews-section-wrapper {
  display: flex;
}

.latestnews-section-start {
  display: flex;
  width: 783px;
  margin-bottom: 18px;
  margin-right: 31px;
}

.latestnews-section-start-img {
  width: 794px;
  height: 379px;
  margin-right: 20px;
}
.latestnews-section-start-text {
  margin-top: 10px;
}
.latestnews-section-start-title-bold {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #202020;
  width: 794px;
  margin-top: 0;
  margin-bottom: 15px;
}

.latestnews-section-start-title-italic {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #202020;
  width: 794px;
  margin-top: 0;
  margin-bottom: 15px;
  font-style: italic;
}
.latestnews-section-start-title {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #202020;
  width: 794px;
  margin-top: 0;
  margin-bottom: 15px;
}

.latestnews-section-start-subtitle {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
  width: 512px;
  margin: 0;
  margin-bottom: 12px;
}

.latestnews-section-start-time {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.latestnews-section-start-calendar {
  margin-right: 4px;
}

.latestnews-section-end-box {
  width: 386px;
  background: #f6f6f9;
  border-radius: 5px;
}

.latestnews-section-end-text {
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.latestnews-section-end-title {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
  margin: 0;
  margin-bottom: 6px;
}

.latestnews-section-end-subutitle {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  margin: 0;
  margin-bottom: 11px;
  width: 347px;
}

.latestnews-section-line {
  width: 346px;
  height: 4px;
  left: 953px;
  top: 1394px;
  background: #e4e4e4;
  margin-left: 20px;
}

.ucell-img {
  margin-top: 20px;
  width: 386px;
  height: 477px;
}

.news-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 300px;
  padding: 10px 32px;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  width: 211px;
  height: 42px;
  color: #ffffff;
  background: #295093;
  border-radius: 5px;
  border: none;
  margin-bottom: 48px;
}
/* ****************** latestnews-section end ***************** */

/* ************************ article start ************************ */
.article-container-content {
  width: 1200px;
  height: 214px;
  background: #f6f6f9;
  border-radius: 5px;
  padding-top: 37px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 38px;
}

.article-container-box {
  display: flex;
  align-items: center;
}

.article-phone-img {
  width: 236px;
  height: 177px;
}

.article-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #295093;
  width: 526px;
  margin: 0;
  margin-bottom: 10px;
}

.article-subtitle {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 515px;
  margin: 0;
}

.article-container-box-text {
  margin-right: 60px;
}

.article-google-play-img {
  margin-right: 5px;
}
/* ************************ article start ************************ */

/* ************************ footer start ************************ */
.footer-box {
  background: #295093;

  padding-top: 18px;
  padding-bottom: 13px;
}

.footer-box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.logo-white {
  background: #133c82;
  border-radius: 5px;
  padding: 8px 11px;
}

.footer-telegram {
  display: flex;
  align-items: center;
}

.footer-box-title {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin-right: 17px;
}

.telegram-box {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.telegram-title {
  margin: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
}

.telegram-image {
  margin-right: 6px;
}

.footer-line {
  width: 1200px;
  height: 3px;
  background: #133c82;
  margin-bottom: 12px;
}
.about-site {
  display: flex;
}
.about-site-box {
  margin-right: 111px;
}
.about-site-box-title {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 15px;
}

.about-site-box-subtitle {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  width: 365px;
}

.footer-box-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-right: 115px;
}
.footer-box-list-two {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footeritem-link {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}
